input {
	keyboard {
		xkb {
			layout "us,tr"
			model ""
			rules ""
			variant ""
		}
		repeat-delay 600
		repeat-rate 25
		track-layout "global"
	}
	touchpad {
		tap
		drag-lock
		natural-scroll
	}
	focus-follows-mouse max-scroll-amount="90%"
}
prefer-no-csd
overview {
	zoom 0.500000
	backdrop-color "#@base01@"
}
layout {
	gaps 10
	struts {
		left 0
		right 0
		top 0
		bottom 0
	}
	focus-ring { off; }
	border {
		width 4
		active-color "#@base0D@"
		inactive-color "#@base03@"
	}
	tab-indicator {
		hide-when-single-tab
		gap 5.000000
		width 4.000000
		length total-proportion=0.500000
		position "left"
		gaps-between-tabs 0.000000
		corner-radius 0.000000
	}
	default-column-width { proportion 1.000000; }
	preset-column-widths {
		proportion 0.333333
		proportion 0.500000
		proportion 0.666667
	}
	center-focused-column "on-overflow"
	default-column-display "tabbed"
	always-center-single-column
}
binds {
	Mod+BracketLeft { consume-or-expel-window-left; }
	Mod+BracketRight { consume-or-expel-window-right; }
	Mod+C { center-column; }
	Mod+Ctrl+H { move-column-left; }
	Mod+Ctrl+J { move-window-down-or-to-workspace-down; }
	Mod+Ctrl+K { move-window-up-or-to-workspace-up; }
	Mod+Ctrl+L { move-column-right; }
	Mod+F { maximize-column; }
	Mod+H { focus-column-left; }
	Mod+J { focus-window-or-workspace-down; }
	Mod+K { focus-window-or-workspace-up; }
	Mod+L { focus-column-right; }
	Mod+M { focus-monitor-next; }
	Mod+O { toggle-overview; }
	Mod+Q { close-window; }
	Mod+R { switch-preset-column-width; }
	Mod+Shift+C { center-visible-columns; }
	Mod+Shift+E { quit skip-confirmation=true; }
	Mod+Shift+F { fullscreen-window; }
	Mod+Space { switch-layout "next"; }
	Mod+W { toggle-column-tabbed-display; }
	Mod+D { spawn-sh "exec @dmenudrun@"; }
	Mod+E { spawn-sh "@editor@"; }
	Mod+Shift+P { spawn-sh "exec @rbwmenu@"; }
	Mod+P { spawn-sh "exec rmpc togglepause"; }
	Mod+Shift+B { spawn-sh "exec @bluetoothmenu@"; }
	Mod+B { spawn-sh "exec @browser@"; }
	Mod+T { spawn-sh "exec @term@"; }
	Mod+Shift+L { spawn-sh "exec swaylock"; }
	XF86Calculator { spawn "qalculate-qt"; }
	XF86AudioNext { spawn-sh "exec rmpc next"; }
	XF86AudioPlay { spawn-sh "exec rmpc togglepause"; }
	XF86AudioPrev { spawn-sh "exec rmpc prev"; }
	XF86AudioStop { spawn-sh "exec rmpc stop"; }
	Mod+Period { spawn-sh "exec rmpc next"; }
	Mod+Comma { spawn-sh "exec rmpc prev"; }
	XF86AudioRaiseVolume { spawn-sh "exec wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+"; }
	XF86AudioLowerVolume { spawn-sh "exec wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-"; }
	XF86AudioMute { spawn-sh "exec wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
	XF86AudioMicMute { spawn-sh "exec wpctl set-mute @DEFAULT_SOURCE@ toggle"; }
	XF86MonBrightnessDown { spawn-sh "exec brightnessctl set 5%-"; }
	XF86MonBrightnessUp { spawn-sh "exec brightnessctl set 5%+"; }
	Print { spawn-sh "exec grim -g \"$(slurp -d -F FiraCode Nerd Font)\" \"/home/aeg/Screenshots/$(date +'%Y-%m-%d %H:%M:%S.png')\""; }
}

recent-windows { off; }
hotkey-overlay { skip-at-startup; }

cursor {
	xcursor-theme "@cursor@"
	xcursor-size @cursorSize@
	hide-when-typing
	hide-after-inactive-ms 1000
}
